fullnameOverride: qwen3-8b

deploymentMode: RawDeployment

model:
  uri: oci://quay.io/redhat-ai-services/modelcar-catalog:qwen3-8b
  modelNameOverride: qwen3-8b
  args:
    - --max-model-len=28000
    - --enable-auto-tool-choice 
    - --tool-call-parser=hermes
