fullnameOverride: qwen3-8b

deploymentMode: RawDeployment

model:
  uri: oci://quay.io/redhat-ai-services/modelcar-catalog:qwen3-8b
  modelNameOverride: Qwen/Qwen3-8B
  args:
    - --max-model-len=28000
    # configuring tool calling via qwen recommendations:
    # https://qwen.readthedocs.io/en/latest/framework/function_call.html#id1
    - --enable-auto-tool-choice
    - --tool-call-parser=hermes
    - --reasoning-parser=deepseek_r1
